
@media screen and (max-width: 1600px) {
}


@media screen and (max-width: 1299px) {
	header{
		.container{
			padding: 0 5px;
			.nav-menu{
				li{
					font-size: 14px;
				}
			}
			.reg-button{
				padding: 5px 20px;
				font-size: 14px;
			}
		}
		.header_block{
			justify-content: space-around;
		}
	}
	.leptop{
		& img{
			width: 40%;
			position: absolute;
			left: -10%;
			top: 5%;
		}
		& p{
			width: 70%;
			padding-left: 300px;
			margin-bottom: 30px;
			line-height: 25px;
		}
	}
	.profitable-terms{
		& .curve{
			& .point{
				&-1{
					top: 140px;
					left: 40px;
				}
				&-2{
					top: 65px;
					left: 230px;
				}
				&-3{
					width: 25%;
					top: 25px;
					left: 480px;
				}
				&-4{
					top: 55px;
					left: 840px;
				}
			}
		}
	}
	.open-account{
		table{
			width: 95%;
			margin: 50px auto 0 auto;
		}
	}
	.ways-replenishment{
		.flex{
			flex-wrap: wrap;
			.text-block{
				width: 80%;
				text-align: center;
				p{
					width: 70%;
					margin: 0 auto;
				}
			}
			.footer-icons{
				width: 90%;
				margin-bottom: 20px;
				li{
					margin-top: 0;
				}
			}
		}
	}
	.trust-us{
		.slider{
			.slick-arrow{
				right: 55px;
			}
			.slick-prev{
				left: 60px;
			}
		}
	}
	footer{
		.container{
			padding: 0 20px;
		}
	}
}



@media screen and (max-width: 991px) {
	header{
		height: inherit;
		position: relative;
		background-size: cover;
		.container{
			.logo{
				margin-top: 10px;
				width: 100px;
			}
			.reg-button{
				margin-top: 30px;
				padding: 10px 30px;
				font-size: 16px;
			}
			.nav-menu{
				background: #bbfa32;
				display: none;
				position: absolute;
				top: 100px;
				right: 0;
				box-shadow: -3px 5px 20px  rgba(0, 0, 0, .7);
				z-index: 9999;
				.menu-fixed{
					line-height: 1em;
				}
				li{
					float: none;
					margin-top: 0;
					line-height: 1em;
					font-size: .8em;
					padding: 10px 30px ;
					transition: all .3s;
					&:not(:last-child){
						border-bottom: 1px solid #333;
					}
					& a{
						color: #000;
						transition: all .3s;
					}
					& a:hover{
						font-weight: 600;
						border: none;
					}
				}
			}
			.burger{
				display: block;
			}
			.header_block{
				flex-wrap: wrap;
				justify-content: center;
				padding-bottom: 30px;
				.block{
					width: 30%;
					margin: 20px 30px;
					& .icon{
						background-position: -5% 0;
						&.icon-2{
							background-position: 31% 0;
						}
						&.icon-3{
							background-position: 68% 0;
						}
						&.icon-4{
							background-position: 101% 0;
						}
					}
				}
			}
		}
	}
	.our-advantages{
		&_block{
			.block{
				width: 40%;
			}
		}
	}
	.leptop{
		.container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			& img{
				display: none;
			}
			& p{
				width: 100%;
				padding-left: 0px;
				padding: 30px 10px 0 10px;
				margin-bottom: 30px;
				text-align: center;
			}
			& .button{
				margin-left: 0;
			}
		}
	}
	.lucrative-trade{
		&_block{
			flex-wrap: wrap;
			.block{
				width: 40%;
				padding: 0;
				h4{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	.profitable-terms{
		& .curve{
			& .point{
				&-1{
					top: 80px;
					left: 30px;
				}
				&-2{
					top: 15px;
					left: 190px;
				}
				&-3{
					width: 30%;
					top: 120px;
					left: 380px;
				}
				&-4{
					top: 55px;
					left: 630px;
				}
			}
		}
	}
	.open-account{
		.table-container{
			width: 100%;
			overflow: hidden;
			overflow-x: scroll!important;
			&::-webkit-scrollbar-track{

				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #2ca3e0;
			}
			&::-webkit-scrollbar-track{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #2ca3e0;
			}

			&::-webkit-scrollbar{
				height: 7px;
				background-color: #2ca3e0;
			}

			&::-webkit-scrollbar-thumb{
				background-color: #fff;
				&:hover{
					background: #bbfa32;
				}
			}
			table{
				width: 1000px;
				padding: 0 10px;
				margin-bottom: 10px;
				font-size: 14px;
				td:nth-child(1){
					font-size: 14px;
				}
				.button{
					font-size: 14px;
				}
			}
		}
	}
	.trust-us{
		.slider{
			.slick-list{
				margin: 0 50px;
			}
			.slick-arrow{
				right: 10px;
			}
			.slick-prev{
				left: 10px;
			}
		}
	}
	.begin-trade{
		.form{
			input[type="submit"]{
				margin-left: 0;
				padding: 10px 0;
			}
		}
	}
	.form{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		input[type="text"]{
			width: 30%;
			margin: 0  0 20px 0;
		}
		input[type="submit"]{
			width: 30%;
			display: inline-block;
			padding: 10px 0;
			margin: 0;
		}
	}
	footer{
		.container{
			.flex{
				flex-wrap: wrap;
				justify-content: space-around;
				.logo{
					margin-bottom: 30px;
				}
				.place{
					width: 100%;
					text-align: center;
				}
				.risk{
					width: 90%;
					margin-top: 30px;
				}
				.warning{
					width: 90%;
					margin-top: 30px;
					padding-left: 0;
				}
			}
		}
	}
}




@media screen and (max-width: 767px) {
	header{
		.container{
			.header_block{
				.block{
					width: 70%;
					&:hover{
						font-weight: 400;
					}
					& .icon{
						display: none;
					}
				}
			}
			.header-content_title{
				width: 80%;
			}
			.header-content_description{
				width: 80%;
			}
		}
	}
	.profitable-terms{
		padding-bottom: 50px;
		& .curve{
			display: none;
		}
	}
}





@media screen and (max-width: 610px) {
	.our-advantages{
		p{
			width: 90%;
		}
		&_block{
			margin-bottom: 20px;
			.block{
				margin-top: 20px;
				p{
					width: 100%;
				}
				h4{
					padding-left: 0;
					&:before{
						top: -50px;
						left: 0;	
					}
				}
			}
		}
	}
}





@media screen and (max-width: 480px) {
	header{
		.container{
			.nav-menu{
				width: 100%;
				text-align: center;
			}
			.reg-button{
				margin: 35px 0 0 0;
				padding: 5px 10px;
			}
			.header-content_title{
				width: 100%;
				font-size: 30px;
				margin: 10px 0 20px 0;
			}
			.header-content_description{
				width: 100%;
				font-size: 18px;
				padding-bottom: 40px;
			}
			.header_block{
				.block{
					margin: 10px;
				}
			}
			.button{
				margin-bottom: 30px;
				width: inherit;
				padding: 10px 50px;
			}
		}
	}
	.our-advantages{
		h2{
			font-size: 30px;
			margin-bottom: 20px;
			&+p{
				width: 90%;
				font-size: 16px;
			}
		}
		&_block{
			margin-top: 70px;
			.block{
				width: 80%;
				padding: 0;
				margin-bottom: 70px;
			}
		}
	}
	.leptop{
		.container{
			& p{
				font-size: 16px;
			}
			& .button{
				padding: 10px 0;
				width: 80%;
				text-align: center;
				font-size: 16px;
			}
		}
	}
	.lucrative-trade{
		padding: 0 10px 30px 10px;
		h2{
			font-size: 30px;
			margin-top: 30px;
		}
		&_block{
			.block{
				width: 80%;
				text-align: center;
			}
		}
	}
	.profitable-terms{
		h2{
			font-size: 30px;
			width: 95%;
		}
		p{
			font-size: 16px;
			width: 90%;
		}
	}
	.open-account{
		h2{
			font-size: 30px;
		}
		p{
			width: 95%;
		}
		table{
			margin-top: 20px;
		}
	}
	.ways-replenishment{
		.flex{
			.text-block{
				p{
					width: 100%;
				}
			}
		}
	}
	.trust-us{
		padding-top: 40px;
		padding-bottom: 0px;
		h2{
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 30px;
			&+p{
				margin-bottom: 20px;
			}
		}
		.slider{
			padding-bottom: 20px;
			.slick-list{
				margin: 0;
			}
			.block{
				padding: 15px;
				text-align: center;
				.triangle{
					display: none;
				}
				.name{
					padding: 50px 0 10px 0;
					text-align: center;
				}
				.foto{
					left: 50%;
					transform: translateX(-50%);
				}
				.message{
					font-size: 14px;
				}
			}
			.slick-arrow{
				top: 30px;
				right: 40px;
			}
			.slick-prev{
				top: 5px;
				left: 40px;
			}
		}
	}
	.begin-trade{
		h2{
			width: 100%;
			font-size: 24px;
			line-height: 30px;
		}
		p{
			font-size: 16px;
			width: 95%;
		}
		.form{
			input[type="text"]{
				width: 60%;
			}
			input[type="submit"]{
				width: 80%;
			}
		}
	}
	
	footer{
		padding-top: 30px;
		padding-bottom: 50px;
		.container{
			.flex{
				.contacts{
					margin-bottom: 30px;
					text-align: center;
				}
				.logo{
				}
				.place{
					p{
						padding: 0;
					}
				}
				.risk{
					width: 100%;
					text-align: center;
					margin-top: 50px;
				}
				.warning{
					width: 100%;
					text-align: center;
					margin-top: 50px;
				}
			}
		}
	}
}
