$mainColor: #e4ae51;
$secondColor: #e49d24; 
$bgColor: #292929;
$mainFont: 'Roboto', serif;
$secondFont: 'Merriweather', serif;

/* Main style */
body{
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: $mainFont;
	color: #333;
	a{
		color: #333;
	}
	article{
		padding-bottom: 10px;
	}
}
.clear {
	content: '';
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;  
}
.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
.button{
	display: inline-block;
	text-transform: uppercase;
	background: $secondColor;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid $secondColor;
	&:hover{
		background: transparent;
	}
}
h1, h2{
	margin: 20px 0 10px 0;
	font-family: $secondFont;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 36px; 
}
h3{
	width: 90%;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
	color: #333;
	&:hover{
		color: $mainColor;
		text-decoration: underline;
	}
}
.all-news{
	text-decoration: underline;
	font-weight: 700;
	color: #333;
	&:hover{
		text-decoration: none;
	}
}
/* Main style END*/

.header{
	width: 100%;
	background: $bgColor;
	position: fixed;
	z-index: 999;
	color: #fff;
	padding-top: 20px;
	transition: all .5s;
	a{
		color: #fff;
	}
	&-top{
		padding-bottom: 10px;
		border-bottom: 1px solid #7f7f7f;
		transition: all .5s;
		.logo{
			width: 195px;
			margin-top: 5px;
		}
		.header-reg{
			margin-left: 30px;
			.button{
				color: #fff;
				padding: 7px 25px ;
				font-size: 16px;
			}
		}
		.header-time{
			position: relative;
			font-size: 16px;
			cursor: pointer;
			border: 1px solid #fff;
			display: inline-block;
			line-height: 2em;
			padding: 0px 40px 0 10px;
			background:  url('../image/select-arrow.png') no-repeat, $bgColor;
			background-position: 90%;
			&:hover .time-zone{
				display: block;
			}
			.time-zone{
				display: none;
				position: absolute;
				box-sizing: border-box;
				z-index: 999;
				top: 102%;
				left: 0;
				background: $bgColor;
				width: 100%;
				li{
					line-height: 20px;
					padding: 5px 10px;
					margin-top: 5px;
					&:hover{
						background: #545454;
					}
					span{
						color: #999;
					}
				}
			}
		}
		.burger{
			display: none;
			float: right;
			margin-left: 10px;
			&_checkbox{
				display: none;
				&:checked {
					+label .span-2{
						opacity: 0;
					}
					+label .span-1{
						transform: rotate(135deg);
						position: absolute;
						top: 5px;
					}
					+label .span-3{
						transform: rotate(-135deg);
						position: absolute;
						top: 5px;
					}
				}
				&+label{
					position: relative;
					display: block;
					width: 35px;
					height: 20px;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					&:hover{
						cursor: pointer;
					}
					span{
						width: 35px;
						height: 3px;
						display: block;
						background: #FFF;
						border-radius: 5px;
						margin-top: 5px;
						transition: all .3s;
					}
				}
			}
		}
	}
	.nav-menu{
		text-transform: uppercase;
		position: relative;
		.out-list{
			& li{
				position: relative;
				padding: 10px 0;
				box-sizing: border-box;
				transition: all .5s;
				&:hover .inner-list{
					display: block;
				}
			}
		}
		.inner-list{
			width: 100%;
			border-top: 1px solid $mainColor;
			position: absolute;
			top: 100%;
			transform: translateX(-50%);
			display: none;
			left: 50%;
			background: $bgColor;
			min-width: 100px;
			transition: none;
			z-index: 999;
			li{
				padding: 7px 10px;
				transition: none;
				sup{
					text-transform: lowercase;
				}
				&:hover{
					background: $mainColor;
					cursor: pointer;
				}
			}
		}
	}
}

// Style for fixed header
.menu-padding{
	padding: 5px!important;
}
.header-padding{
	padding-top: 10px!important;
}
.header-top-padding{
	padding-bottom: 5px!important;
}
// Style for fixed header END


main{
	padding: 110px 0 20px 0;
	section{
		width: 70%;
		padding-right: 50px;
		box-sizing: border-box;
		.title-text{
			p{
				font-size: 18px;
				font-weight: 300;
			}
		}
		.day-new{
			.block{
				&-image{
					width: 45%;
					background: #ccc;
					img{
						width: 100%;
						height: 100%;
					}
				}
				&-text{
					width: 55%;
					background: $mainColor;
					padding: 15px 15px;
					box-sizing: border-box;
					h3{
						&:hover{
							color: #333;
						}
					}
					p{
						margin-bottom: 10px;
						line-height: 18px;
						&+a{
							color: #333;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.analitic{
			.blocks{
				.block{
					width: 50%;
					margin: 10px 0;
					&-image{
						width: 25%;
						padding-top: 10px;
					}
					&-text{
						width: 70%;
						a{
							color: #333;
						}
						h3{
							margin: 0 10px 0 0 ;
						}
						span{
							display: inline-block;
							margin-top: 10px;
							margin-bottom: 5px;
							color: #828282;
						}
						.category{
							color: $mainColor;
						}
					}
				}
			}
		}
		.economic-news{
			.blocks{
				.block{
					width: 50%;
					margin: 5px 0;
					&-image{
						img{
							width: 98%;
						}
					}
					span{
						display: inline-block;
						margin-bottom: 5px;
						color: #828282;
					}
					.country{
						color: $mainColor;
					}
				}
			}
		}
	}
	aside{
		.currency{
			h2{
				position: relative;
				z-index: 99;
				background: #FFF;
			}
			.currency-widget{
				margin-top: -40px;
			}
		}
		width: 30%;
		.news-feed, .articles-feed{
			h2{
				margin: 0;
			} 
			.feed{
				position: relative;
			}
			h2{
				margin-top: 20px;
			}
			.line{
				width: 1px;
				height: 100%;
				background: $mainColor;
				position: absolute;
				left: 17px;
			}
			h5{
				font-weight: 600;
				font-size: 16px;
				margin-top: 20px;
				

			}
			span{
				position: absolute;
				background: #fff;
				line-height: 1.5em;
			}
			a{
				position: relative;
				padding-left: 50px;
				margin-top: 10px;
				font-size: 16px;
				line-height: 17px;
				display: block;
				&:hover{
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		.articles-feed{
			a{
				padding-left: 0;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
			}
			span{
				position: relative;
				color: #828282;
			}
		}
	}
}
.reg-row{
	background: #d4d4d4;
	padding: 30px 0px;
	
	h2{
		width: 70%;
		font-size: 33px;
		line-height: 47px;
		font-weight: 600;
		margin: 0;
	}
	.button-block{
		width: 30%;
		h5{
			font-size: 16px;
			font-weight: 500;
		}
		.button{
			width: 50%;
			padding: 15px;
			color: #fff;
			text-align: center;
			margin-top: 10px;
			font-size: 20px;
			&:hover{
				color: #000;
			}
		}
	}
}
.main-bottom{
	padding-top: 30px;
	padding-bottom: 10px;
	.block{
		width: 30%;
		.items{
			margin-bottom: 15px;
			.item{
				margin-top: 10px;
				a{
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 5px;
					line-height: 20px;
					display: block;
					&:hover{
						color: $mainColor;
					}
				}
				.category{
					color: $mainColor;
					font-size: 14px;
					font-weight: 400;
					display: inline-block;
				}
			}
		}
	}
	.crip{
		h2{
			margin-top: 0;
		}
	}
	.econom-calendar{
		.econom-widget{
			margin-top: -45px;
			height: 450px;
			z-index: 1;
		}
		h2{
			position: relative;
			margin-top: 0;
			margin-bottom: 20px;
			z-index: 99;
			background: #FFF;
		}
	}
}
footer{
	padding-top: 30px;
	padding-bottom: 20px;
	background: $bgColor;
	color: #fff;
	line-height: 18px;
	.block{
		width: 30%;
		h2{
			margin-top: 0;
			margin-bottom: 20px;
		}
		.logo{
			img{
				margin-bottom: 15px;
			}
		}
		.email{
			margin-bottom: 30px;
		}
		.info{
			width: 95%;
			margin-bottom: 30px;
		}
		.nav-menu{
			li{
				a{
					color: #fff;
					text-transform: uppercase;
					&:hover{
						color: $mainColor;
					}
				}
			}
		}
	}
	.subscribe{
		text-align: center;
		h5{
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		p{
			font-weight: 300;
			margin-bottom: 30px;
		}
		.button{
			width: 60%;
			padding: 10px;
		}
	}
}


// Category

.breadcrumbs{
	margin: 20px 0;
	text-transform: uppercase;
	font-weight: 500;
	a, span{
		color: #828282;
		&:hover{
			color: $mainColor;
		}
	}
	.last-crumb{
		color: #000;
		&:hover{
			color: $mainColor;
		}
	}
}
.country-list{
	li{
		text-transform: uppercase;
		a{
			color: #828282;
			border: 1px solid #fff;
			box-sizing: border-box;
			padding: 7px;
			&:hover{
				color: $mainColor;
				border: 1px solid $mainColor;
			}
		}
	}
}
.instruments-for-category{
	h2{
		font-size: 40px;
	}
	&-blocks{
		margin-top: 30px;
		text-align: center;
		margin-bottom: 30px;
		align-items: flex-end;
		.block{
			width: 25%;
			p{
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 20px;
			}
			.button{
				width: 80%;
				background: transparent;
				font-size: 14px;
				font-weight: 300;
				padding: 15px 0;
				text-transform: none;
				&:hover{
					background: $mainColor;
					color: #fff;
				}
			}
		}
	}
}
.category-news{
	.category-description{
		font-weight: 300;
	}
	.blocks{
		.block{
			width: 50%;
			margin: 10px 0;
			span{
				display: inline-block;
				margin-bottom: 5px;
				color: #828282;
			}
			.country{
				color: $mainColor;
				margin-left: 5px;
				font-weight: 500;
			}
		}
	}
	.pagination{
		margin: 30px auto 0 auto;
		font-size: 16px;
		font-weight: 700;
		.begin{
			display: none;
		}
		.end{
			display: inline-block;
		}
		.active{
			background: $mainColor;
			cursor: auto;
		}
		a{
			padding: 0 5px;
			margin: 0 2px;
			&:hover{
				background: $mainColor;
			}
		}
	}
}
// Category END


// Instruments

.instruments{
	&-title{
		margin: 0;
		line-height: 45px;
	}
	.blocks{
		margin-top: 30px;
		.block{
			&:not(:last-child){
				margin-bottom: 100px;
			}
			&-text{
				width: 45%;
				h2{
					margin-top: 0;
				}
				p{
					font-weight: 300;
					line-height: 16px;
					margin-bottom: 30px;
				}
				.button{
					background: transparent;
					width: 70%;
					font-size: 16px;
					text-align: center;
					padding: 15px;
					&:hover{
						background: $mainColor;
						color: #fff;
					}
				}
			}
			&-image{
				width: 50%;
				margin: auto 0;
			}
		}
	}
}
// Instruments END


// News

.news{
	&-title{
		font-size: 30px;
		margin-bottom: 20px ;
	}
	&-time{
		color: #828282;
		margin-bottom: 10px;
	}
	&-image{
		width: 100%;
		overflow: hidden;
		position: relative;
		img{
			width: 100%;
		}
	}
	&-text{
		p{
			margin-top: 20px;
			font-size: 16px;
		}
		margin-bottom: 30px;
	}
	#share {
		width:100%;
		border:1px solid #eaeaea;
		margin: 0 auto;
		background:#fff;
		text-align:center;
		.like {
			font-size: 16px;
			font-weight: 700;
			line-height: 50px;
		}
		.push {
			display: inline-block;
			width: 17%;
			min-width: 100px;
			line-height: 40px;
			margin: 5px 2px 20px 2px;
			font-size: 15px;
			text-align: center;
			color:#fff;
			cursor: pointer;
		} 
		.facebook 				{background-color:#3b5998;}
		.facebook:hover 	{background-color:#2d4373; color:#fff;}
		.google 					{background-color:#dd4b39;}
		.google:hover 		{background-color:#c23321; color:#fff;}
		.twitter 					{background-color:#55acee;}
		.twitter:hover  	{background-color:#2795e9; color:#fff;}
		.vkontakte 				{background-color:#587ea3;}
		.vkontakte:hover 	{background-color:#466482; color:#fff;}
		.ok 							{background-color:#ee8208;}
		.ok:hover 				{background-color:#ee7808; color:#fff;}
	}
}
// News END



//Achievements

.achievements{
	padding: 30px 0 10px 0;
	.blocks{
		.block{
			width: 20%;
			text-align: center;
			p{
				margin-top: 10px;
				font-size: 18px;
			}
			.first-text{
				font-weight: 500;
				margin-bottom: 10px;
			}
		}
	}
}
.tabs{
	.reklama, .registr{
		h2{
			span{
				text-transform: uppercase;
			}
		}
		p{
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
			width: 80%;
		}
		.button{
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
	&__content {
		display: none; /* по умолчанию прячем все блоки */
		padding: 30px 0;
		h2+p{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 30px;
		}
		.button{
			color: #fff;
			margin: 0 auto;
			display: block;
			width: 300px;
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
			padding: 15px 0;
			&:hover{
				color: #000;
			}
		}
		.block{
			border: 2px solid $mainColor;
			margin: 20px 0;
			padding: 35px;
			&-image{
				width: 10%;
			}
			&-text{
				width: 90%;
				h4{
					font-size: 26px;
					font-family: $secondFont;
					margin-bottom: 10px;
					&+p{
						font-size: 14px;
						line-height: 20px;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	&__content.active {
		display: block; /* по умолчанию показываем нужный блок */
		color: #000;
	}
	.active{
		color: #000;
	}
	&__caption{
		padding: 30px 0;
		margin: 0 auto;
		background: #f4d8a7;
		justify-content: center;
		align-items: center;
		li{
			width: 25%;
			text-align: center;
			font-size: 22px;
			color: #86765a;
			cursor: pointer;
			&:hover{
				color: #000;
			}
		}
	}
}
.bottom-contacts{
	padding-top: 20px;
	padding-bottom: 30px;
	h4{
		font-size: 30px;
		font-family: $secondFont;
		margin-bottom: 30px;
	}
	.flex{
		justify-content: flex-start;
		p{
			margin-right: 20px;
			font-size: 20px;
			padding-left: 50px;
			position: relative;
			&:before{
				content: '';
				width: 50px;
				height: 50px;
				display: inline-block;
				background: url('/image/bottom-contacts.png') no-repeat;
				background-position: 10px 0;
				position: absolute;
				left: 0;
				top: -5px;
			}
		}
		.mail{
			&:before{
				background-position: -290px 0;
			}
		}
		.skype{
			&:before{
				background-position: -610px 0;
			}
		}
	}
}
.modalWindow{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.7);
	z-index: 99999;
	&:target {
		display: block;
	}
	.inner-block{
		width: 600px;
		background: #FFF;
		border: 1px solid $secondColor;
		position: relative;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 50px;
	}
	.close{
		font-size: 4em;
		position: absolute;
		right: 20px;
		top: 0px;
		cursor: pointer;
		color: #000;
		font-weight: 200;
		&:hover{
			color: $secondColor;
		}
	}
	h2{
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	form{
		flex-direction: column;
		width: 60%;
		margin: 0 auto;
		label{
			margin-bottom: 5px;
			font-size: 18px;
		}
		input, textarea{
			padding: 10px 10px;
			border: 1px solid #aaa;
			margin-bottom: 20px;
			resize: none;
		}
		input[type="submit"]{
			background: darken($mainColor, 10%);
			border: 2px solid darken($mainColor, 10%);
			color: #fff;
			font-size: 24px;
			cursor: pointer;
			&:hover{
				background: transparent;
				color: #000;
			}
		}
	}
}
//Achievements END