$mainColor: #e4ae51;
$secondColor: #e49d24; 
$bgColor: #292929;
$mainFont: 'Roboto', serif;
$secondFont: 'Merriweather', serif;


/* Main style */
body{
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: $mainFont;
	color: #333;
	a{
		color: #333;
	}
	article{
		padding-bottom: 10px;
	}
}
.clear {
	content: '';
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;  
}
.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
.button{
	display: inline-block;
	text-transform: uppercase;
	background: $secondColor;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid $secondColor;
	&:hover{
		background: transparent;
	}
}
h1, h2{
	margin: 20px 0 10px 0;
	font-family: $secondFont;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 36px; 
}
h3{
	width: 90%;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
	color: #333;
	&:hover{
		color: $mainColor;
		text-decoration: underline;
	}
}
.all-news{
	text-decoration: underline;
	font-weight: 700;
	color: #333;
	&:hover{
		text-decoration: none;
	}
}
.pagination{
	margin: 30px auto 0 auto;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	.begin{
		display: none;
	}
	.end{
		display: inline-block;
	}
	.active{
		background: $mainColor;
		cursor: auto;
	}
	a{
		padding: 0 5px;
		margin: 0 2px;
		&:hover{
			background: $mainColor;
		}
	}
}
/* Main style END*/

.header{
	width: 100%;
	background: $bgColor;
	position: fixed;
	z-index: 999;
	color: #fff;
	padding-top: 20px;
	transition: all .5s;
	a{
		color: #fff;
	}
	&-top{
		padding-bottom: 10px;
		border-bottom: 1px solid #7f7f7f;
		transition: all .5s;
		.logo{
			width: 195px;
			margin-top: 5px;
		}
		.header-reg{
			margin-left: 30px;
			.button{
				color: #fff;
				padding: 7px 25px ;
				font-size: 16px;
			}
		}
		.header-time{
			position: relative;
			font-size: 16px;
			cursor: pointer;
			border: 1px solid #fff;
			display: inline-block;
			line-height: 2em;
			padding: 0px 40px 0 10px;
			background:  url('../image/select-arrow.png') no-repeat, $bgColor;
			background-position: 90%;
			&:hover .time-zone{
				display: block;
			}
			.time-zone{
				display: none;
				position: absolute;
				box-sizing: border-box;
				z-index: 999;
				top: 102%;
				left: 0;
				background: $bgColor;
				width: 100%;
				li{
					line-height: 20px;
					padding: 5px 10px;
					margin-top: 5px;
					&:hover{
						background: #545454;
					}
					span{
						color: #999;
					}
				}
			}
		}
		.burger{
			display: none;
			float: right;
			margin-left: 10px;
			&_checkbox{
				display: none;
				&:checked {
					+label .span-2{
						opacity: 0;
					}
					+label .span-1{
						transform: rotate(135deg);
						position: absolute;
						top: 5px;
					}
					+label .span-3{
						transform: rotate(-135deg);
						position: absolute;
						top: 5px;
					}
				}
				&+label{
					position: relative;
					display: block;
					width: 35px;
					height: 20px;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					&:hover{
						cursor: pointer;
					}
					span{
						width: 35px;
						height: 3px;
						display: block;
						background: #FFF;
						border-radius: 5px;
						margin-top: 5px;
						transition: all .3s;
					}
				}
			}
		}
	}










	.nav-menu{
		text-transform: uppercase;	
		font-size: .9em;
		.out-list{
			&>li{
				position: relative;
				color: $mainColor;
				padding: 15px 20px 15px 0;
				box-sizing: border-box;
				&:hover .inner-list{
					display: block;
				}
				&:hover{
					background: $mainColor;
				}
				.second-li{
					display: none;
					cursor: pointer;
					color: #fff;
				}
				.button-second{
					background: $mainColor;
					border: 0;
					padding: 5px 30px;
					margin: 0 auto;
					text-transform: uppercase;
					border: 1px solid $mainColor;
					outline: none;
					&:hover{
						background: transparent;
						
					}
				}
				.arrow-down{
					width: 20px;
					height: 100%;
					background: url('../image/select-arrow.png') no-repeat;
					background-position: center;
					background-size: 45%;
					color: #fff;
					cursor: pointer;
					display: block;
					position: absolute;
					right: 0px;
					top: 50%;
					transform: translateY(-50%);
					// &:hover .inner-list{
					// 	display: block;
					// }
				}
			}
			&>li{
				&:before{
					content: "|";
					color: $mainColor;
				}
			}
		}
		.inner-list{
			width: 100%;
			border-top: 1px solid $mainColor;
			position: absolute;
			top: 95%;
			display: none;
			left: 0;
			background: $bgColor;
			transition: none;
			z-index: 99999;
			li{
				padding: 7px 10px;
				transition: none;
				sup{
					text-transform: lowercase;
				}
				&:hover{
					background: $mainColor;
					cursor: pointer;
				}
			}
		}
	}
	.nav-menu-button-2{
		display: none;
	}
}

// Style for fixed header
.menu-padding{
	// padding: 5px 15px!important;
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}
.header-padding{
	padding-top: 10px!important;
}
.header-top-padding{
	padding-bottom: 5px!important;
}
// Style for fixed header END























// Index page
main{
	padding: 110px 0 20px 0;
	section{
		width: 70%;
		padding-right: 50px;
		box-sizing: border-box;
		.title-text{
			p{
				font-size: 18px;
				font-weight: 300;
			}
		}
		.day-new{
			.block{
				&-image{
					width: 45%;
					background: #ccc;
					img{
						width: 100%;
						height: 100%;
					}
				}
				&-text{
					width: 55%;
					background: $mainColor;
					padding: 15px 15px;
					box-sizing: border-box;
					h3{
						&:hover{
							color: #333;
						}
					}
					p{
						margin-bottom: 10px;
						line-height: 18px;
						&+a{
							color: #333;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.analitic{
			.blocks{
				.block{
					width: 50%;
					margin: 10px 0;
					&-image{
						width: 25%;
						padding-top: 10px;
					}
					&-text{
						width: 70%;
						a{
							color: #333;
						}
						h3{
							margin: 0 10px 0 0 ;
						}
						span{
							display: inline-block;
							margin-top: 10px;
							margin-bottom: 5px;
							color: #828282;
						}
						.category{
							color: $mainColor;
						}
					}
				}
			}
		}
		.economic-news{
			.blocks{
				.block{
					width: 50%;
					margin: 5px 0;
					&-image{
						img{
							width: 98%;
						}
					}
					span{
						display: inline-block;
						margin-bottom: 5px;
						color: #828282;
					}
					.country{
						color: $mainColor;
					}
				}
			}
		}
	}
	aside{
		.currency{
			h2{
				position: relative;
				z-index: 99;
				background: #FFF;
			}
			.currency-widget{
				margin-top: -40px;
			}
		}
		width: 30%;
		.news-feed, .articles-feed{
			h2{
				margin: 0;
			} 
			.feed{
				position: relative;
			}
			h2{
				margin-top: 20px;
			}
			.line{
				width: 1px;
				height: 100%;
				background: $mainColor;
				position: absolute;
				left: 17px;
			}
			h5{
				font-weight: 600;
				font-size: 16px;
				margin-top: 20px;
				

			}
			span{
				position: absolute;
				background: #fff;
				line-height: 1.5em;
			}
			a{
				position: relative;
				padding-left: 50px;
				margin-top: 10px;
				font-size: 16px;
				line-height: 17px;
				display: block;
				&:hover{
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		.articles-feed{
			a{
				padding-left: 0;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
			}
			span{
				position: relative;
				color: #828282;
			}
		}
	}
}
.reg-row{
	background: #d4d4d4;
	padding: 30px 0px;
	
	h2{
		width: 70%;
		font-size: 33px;
		line-height: 47px;
		font-weight: 600;
		margin: 0;
	}
	.button-block{
		width: 30%;
		h5{
			font-size: 16px;
			font-weight: 500;
		}
		.button{
			width: 50%;
			padding: 15px;
			color: #fff;
			text-align: center;
			margin-top: 10px;
			font-size: 20px;
			&:hover{
				color: #000;
			}
		}
	}
}
.main-bottom{
	padding-top: 30px;
	padding-bottom: 30px;
	.block{
		width: 30%;
		.items{
			margin-bottom: 15px;
			.item{
				margin-top: 10px;
				a{
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 5px;
					line-height: 20px;
					display: block;
					&:hover{
						color: $mainColor;
					}
				}
				.category{
					color: $mainColor;
					font-size: 14px;
					font-weight: 400;
					display: inline-block;
				}
			}
		}
	}
	.crip{
		h2{
			margin-top: 0;
		}
	}
	.econom-calendar{
		.econom-widget{
			margin-top: -45px;
			height: 450px;
			z-index: 1;
		}
		h2{
			position: relative;
			margin-top: 0;
			margin-bottom: 20px;
			z-index: 99;
			background: #FFF;
		}
	}
}
footer{
	padding-top: 30px;
	padding-bottom: 20px;
	background: $bgColor;
	color: #fff;
	line-height: 18px;
	.block{
		width: 30%;
		h2{
			margin-top: 0;
			margin-bottom: 20px;
		}
		.logo{
			img{
				margin-bottom: 15px;
			}
		}
		.email{
			margin-bottom: 30px;
		}
		.info{
			width: 95%;
			margin-bottom: 30px;
		}
		.nav-menu{
			li{
				a{
					color: #fff;
					text-transform: uppercase;
					&:hover{
						color: $mainColor;
					}
				}
			}
		}
	}
	.subscribe{
		text-align: center;
		h5{
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		p{
			font-weight: 300;
			margin-bottom: 30px;
		}
		.button{
			width: 60%;
			padding: 10px;
		}
	}
}
// Index page END


// Category

.breadcrumbs{
	margin: 20px 0;
	text-transform: uppercase;
	font-weight: 500;
	a, span{
		color: #828282;
		&:hover{
			color: $mainColor;
		}
	}
	.last-crumb{
		color: #000;
		&:hover{
			color: $mainColor;
		}
	}
}
.country-list{
	li{
		text-transform: uppercase;
		a{
			color: #828282;
			border: 1px solid #fff;
			box-sizing: border-box;
			padding: 7px;
			&:hover{
				color: $mainColor;
				border: 1px solid $mainColor;
			}
		}
	}
}
.instruments-for-category{
	h2{
		font-size: 36px;
	}
	&-blocks{
		margin-top: 30px;
		text-align: center;
		margin-bottom: 30px;
		align-items: flex-start;
		.block{
			width: 30%;
			max-width: 300px;
			justify-content: center;
			flex-direction: column;
			&:hover p{
				text-decoration: none;
			}
			div{
				img{
					// width: 100%;
				}
			}
			p{
				margin-top: 20px;
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 20px;
				text-decoration: underline;
				cursor: pointer;
				text-align: center;
			}
			.button{
				width: 80%;
				background: transparent;
				font-size: 14px;
				font-weight: 300;
				padding: 15px 0;
				text-transform: none;
				&:hover{
					background: $mainColor;
					color: #fff;
				}
			}
		}
	}
}
.category-news{
	.category-description{
		font-weight: 300;
	}
	.blocks{
		.block{
			width: 50%;
			margin: 10px 0;
			span{
				display: inline-block;
				margin-bottom: 5px;
				color: #828282;
			}
			.country{
				color: $mainColor;
				margin-left: 5px;
				font-weight: 500;
			}
		}
	}
}
// Category END


// Instruments

.instruments{
	&-title{
		margin: 0;
		line-height: 45px;
		width: 70%;
	}
	h4{
		font-size: 18px;
		font-weight: 500;
		margin: 15px 0;
	}
	.blocks{
		margin-top: 30px;
		.block{
			&:not(:last-child){
				margin-bottom: 30px;
			}
			&-text{
				width: 50%;
				h2{
					font-size: 24px;
					
				}
				p{
					font-weight: 300;
					line-height: 20px;
				}
				ul{
					list-style-type: disc;
					margin-left: 30px;
					line-height: 20px;
				}
				span{
					font-weight: 500;
				}
			}
			&-image{
				width: 45%;
				margin-top: 20px;
				img{
					width: 100%;
				}
				.button{
					background: transparent;
					box-sizing: border-box;
					width: 100%;
					margin: 20px auto;
					font-size: 16px;
					text-align: center;
					padding: 15px;
					&:hover{
						background: $mainColor;
						color: #fff;
					}
				}
				ul{
					list-style-type: disc;
					margin-left: 30px;
					line-height: 20px;
				}
			}
		}
		.bottom-text{
			font-weight: 500;
			font-style: italic;
			span{
				font-weight: 700;
			}
		}
	}
}
// Instruments END


// News

.news{
	&-title{
		font-size: 30px;
		margin-bottom: 20px ;
	}
	&-time{
		color: #828282;
		margin-bottom: 10px;
	}
	&-image{
		width: 100%;
		overflow: hidden;
		position: relative;
		img{
			width: 100%;
		}
	}
	&-text{
		p{
			margin-top: 20px;
			font-size: 16px;
		}
		margin-bottom: 30px;
	}
	#share {
		width:100%;
		border:1px solid #eaeaea;
		margin: 0 auto;
		background:#fff;
		text-align:center;
		.like {
			font-size: 16px;
			font-weight: 700;
			line-height: 50px;
		}
		.push {
			display: inline-block;
			width: 17%;
			min-width: 100px;
			line-height: 40px;
			margin: 5px 2px 20px 2px;
			font-size: 15px;
			text-align: center;
			color:#fff;
			cursor: pointer;
		} 
		.facebook 				{background-color:#3b5998;}
		.facebook:hover 	{background-color:#2d4373; color:#fff;}
		.google 					{background-color:#dd4b39;}
		.google:hover 		{background-color:#c23321; color:#fff;}
		.twitter 					{background-color:#55acee;}
		.twitter:hover  	{background-color:#2795e9; color:#fff;}
		.vkontakte 				{background-color:#587ea3;}
		.vkontakte:hover 	{background-color:#466482; color:#fff;}
		.ok 							{background-color:#ee8208;}
		.ok:hover 				{background-color:#ee7808; color:#fff;}
	}
}
// News END



//Achievements- tabs

.achievements{
	padding: 30px 0 10px 0;
	.blocks{
		.block{
			width: 20%;
			text-align: center;
			p{
				margin-top: 10px;
				font-size: 18px;
			}
			.first-text{
				font-weight: 500;
				margin-bottom: 10px;
			}
		}
	}
}
.tabs{
	.reklama, .registr{
		h2{
			span{
				text-transform: uppercase;
			}
		}
		p{
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
			width: 80%;
		}
		.button{
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
	&__content {
		display: none; /* по умолчанию прячем все блоки */
		padding: 30px 0;
		h2+p{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 30px;
		}
		.button{
			color: #fff;
			margin: 0 auto;
			display: block;
			width: 300px;
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
			padding: 15px 0;
			&:hover{
				color: #000;
			}
		}
		.block{
			border: 2px solid $mainColor;
			margin: 20px 0;
			padding: 35px;
			&-image{
				width: 10%;
			}
			&-text{
				width: 90%;
				h4{
					font-size: 26px;
					font-family: $secondFont;
					margin-bottom: 10px;
					&+p{
						font-size: 14px;
						line-height: 20px;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	&__content.active {
		display: block; /* по умолчанию показываем нужный блок */
		color: #000;
	}
	.active{
		color: #000;
	}
	&__caption{
		padding: 30px 0;
		margin: 0 auto;
		background: #f4d8a7;
		justify-content: center;
		align-items: center;
		li{
			width: 25%;
			text-align: center;
			font-size: 22px;
			color: #86765a;
			cursor: pointer;
			&:hover{
				color: #000;
			}
		}
	}
}
.bottom-contacts{
	padding-top: 20px;
	padding-bottom: 30px;
	h4{
		font-size: 30px;
		font-family: $secondFont;
		margin-bottom: 30px;
	}
	.flex{
		justify-content: flex-start;
		p{
			margin-right: 20px;
			font-size: 20px;
			padding-left: 50px;
			position: relative;
			&:before{
				content: '';
				width: 50px;
				height: 50px;
				display: inline-block;
				background: url('/image/bottom-contacts.png') no-repeat;
				background-position: 10px 0;
				position: absolute;
				left: 0;
				top: -5px;
			}
		}
		.mail{
			&:before{
				background-position: -290px 0;
			}
		}
		.skype{
			&:before{
				background-position: -610px 0;
			}
		}
	}
}
.modalWindow{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.7);
	z-index: 99999;
	&:target {
		display: block;
	}
	.inner-block{
		width: 600px;
		background: #FFF;
		border: 1px solid $secondColor;
		position: relative;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 50px;
	}
	.close{
		font-size: 4em;
		position: absolute;
		right: 20px;
		top: 0px;
		cursor: pointer;
		color: #000;
		font-weight: 200;
		&:hover{
			color: $secondColor;
		}
	}
	h2{
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	form{
		flex-direction: column;
		width: 60%;
		margin: 0 auto;
		label{
			margin-bottom: 5px;
			font-size: 18px;
		}
		input, textarea{
			padding: 10px 10px;
			border: 1px solid #aaa;
			margin-bottom: 20px;
			resize: none;
		}
		input[type="submit"]{
			background: darken($mainColor, 10%);
			border: 2px solid darken($mainColor, 10%);
			color: #fff;
			font-size: 24px;
			cursor: pointer;
			&:hover{
				background: transparent;
				color: #000;
			}
		}
	}
}
//Achievements END


// Brokers

.broker{
	&-title{
		justify-content: flex-start;
		align-items: center;
		padding-top: 30px;
		margin-bottom: 20px;
		&-logo{
			margin-right: 20px;
		}
	}
	&-description{
		font-size: 18px;
		line-height: 24px;
	}
	.reviews{
		margin-top: 40px;
		.block{
			margin: 10px 0;
			padding: 30px 120px 30px 30px;
			position: relative;
			&:nth-child(odd){
				background: #ececec;
			}
			&-green{
				.numeral{
					color: #43a047;
				}
				&:after{
					background: url('/image/green-like.png') no-repeat;
				}
			}
			&-yellow{
				.numeral{
					color: #e49d24;
				}
				&:after{
					background: url('/image/yellow-like.png') no-repeat;
				}
			}
			&-red{
				.numeral{
					color: #e53935;
				}
				&:after{
					background: url('/image/red-like.png') no-repeat;
				}
			}
			&:after{
				content: '';
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				width: 100px;
				height: 100px;
				
			}
			&-text{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 20px;
			}
			&-numeral{
				font-size: 18px;
			}
		}
	}
	.feedback{
		width: 60%;
		h3{
			font-size: 30px;
			font-family: $secondFont;
			margin-top: 40px; 
			width: 100%;
			margin-bottom: 30px;
			&:hover{
				text-decoration: none;
				color: #000;
			}
			&+p{
				font-size: 18px;
			}
		}
		.stars{
			display: inline-block;
			margin-bottom: 20px;
			span{
				width: 35px;
				font-size: 3em;
				cursor: pointer;
				&:hover:before{
					content: '\2605';
				}
				&:before{
					content: '\2606';
					color: green;
				}
			}
			.star-1:before{
				color: darken(red, 10%);
			}
			.star-2:before{
				color: darken(red, 0%);
			}
			.star-3:before{
				color: #f3540d;
			}
			.star-4:before{
				color: #f37c0d;
			}
			.star-5:before{
				color: #f3940d;
			}
			.star-6:before{
				color: #f3d50d;
			}
			.star-7:before{
				color: #e5f30d;
			}
			.star-8:before{
				color: #baf30d;
			}
			.star-9:before{
				color: #64f30d;
			}
			.star-10:before{
				color: darken(#64f30d, 10%);
			}
		}
		form{
			width: 100%;
			label{
				font-size: 18px;
				margin-bottom: 5px;
				display: block;
			}
			textarea{
				width: 100%;
				resize: none;
				margin-bottom: 15px;
				box-sizing: border-box;
			}
			.text-input{
				width: 100%;
				margin-bottom: 20px;
				div{
					width: 47%;
					input[type="text"]{
						width: 100%;
						padding: 10px;
						box-sizing: border-box;
					}
				}
			}
			.button{
				width: 100%;
				color: #fff;
				font-size: 28px;
				padding: 10px 0;
				margin-bottom: 50px;
				&:hover{
					color: #000;
				}
			}
		}
	}
}
.another-brokers{
	border-left: 1px solid #faebd3;
	border-right: 1px solid #faebd3;
	text-align: center;
	h3{
		font-size: 36px;
		font-family: $secondFont;
		margin-top: 60px; 
		width: 100%;
		margin-bottom: 30px;
		&:hover{
			text-decoration: none;
			color: #000;
		}
	}
	ul{
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 30px;
		li{
			margin-bottom: 15px;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.add-broker{
		color: #fff;
		&:hover{
			color: #000;
		}
	}
}
// Brokers END



// Brokers-list

.brokers{
	&-description{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.brokers-list{
		margin-top: 40px;
		.brok{
			margin-left: 20px;
		}
		.middle-numeral-text{
			float: right;
			margin-right: 100px;
		}
		.block{
			margin: 10px 0;
			padding: 30px;
			position: relative;
			&:nth-child(odd){
				background: #fcf5e9;
			}
			&-logo{
				cursor: pointer;
				justify-content: flex-start;
				align-items: center;
				&:hover .logo{
					filter: grayscale(0);
				}
				&:hover h3{
					color: #000;
					text-decoration: underline;
				}
				.logo{
					margin-right: 30px;
					filter: grayscale(100%);
					width: 10%;
				}
				&-title{
					width: 65%;
					h3{
						text-transform: uppercase;
						font-size: 36px;
					}
				}
			}
			.numeral{
				font-size: 30px;
				font-weight: 500;
			}
			&-green{
				.numeral{
					color: #33b64c;
				}
			}
			&-yellow{
				.numeral{
					color: #e49d24;
				}
			}
			&-red{
				.numeral{
					color: #e53935;
				}
			}
			&-text{
				font-size: 16px;
				line-height: 24px;
				margin-top: 10px;
				margin-bottom: 20px;
			}
			.add-review{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.pagination{
		padding-top: 20px;
		margin-bottom: 30px;
	}
}
.add-broker{
	text-align: center;
	h3{
		font-size: 30px;
		font-family: $secondFont;
		padding-top: 30px;
		&:hover{
			color: #000;
			text-decoration: none;
		}
		&+p{
			text-align: left;
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	.button{
		color: #fff;
		margin: 0 auto;
		&:hover{
			color: #000; 
		}
	}
}
// Brokers-list END



// Change header
.nav-menu-button{
	text-align: center;
	display: block;
}
// Change header END


// Dominator

.dominator, .signals{
	table{
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
		tr:not(:last-child){
			border-bottom: 1px solid #f4f4f4;
		}
		td, th{
			padding: 20px;
			font-size: 18px;
		}
		tr{
			&:nth-child(even){
				background: #fafafa;
			}
		}
		td{
			&:last-child{
				font-weight: 500;
			}
			&:first-child{
				color: $mainColor;
			}
		}
		.filter-blur{
			filter: blur(5px);
		}
	}
	.table-registration{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 35%;
		font-size: 	30px; 
		font-weight: 	700;
		.button{
			color: #fff;
			font-size: 	16px;
			margin-top: 	20px;
			padding: 	10px 0;
			width: 90%;
			font-weight: 	400;
			&:hover{
				color: #000;
			}
		}
	}
	.wrapper{
		position: relative;
	}
}

main .gray-color{
	color: #999;
}
main .red-color{
	color: #ad4135;
}
main .green-color{
	color: #90c63d;
}
main .arrow-up{
	&:after{
		content: '▲';
	}
}
main .arrow-down{
	&:after{
		content: '▼';
	}
}


.indikators{
	margin-bottom: 50px;
	h2{
		font-size: 28px;
		text-decoration: underline;
	}
	&-name{
		color: $mainColor;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	&-description{
		color: #828282;
	}
	.blocks{
		justify-content: space-around;
		margin-top: 20px;
		.block{
			width: 30%;
			li{
				position: relative;
				padding: 15px 60px 15px 0;
				border-bottom: 1px solid #f4f4f4;
				&:last-child{
					border-bottom: 0;
				}
				span{
					position: absolute;
					right: 10px;
					top: 40%;
					font-size: 16px;
					margin-right: 20px;
					&:after{
						position: absolute;
						top: 10%;
						margin-left: 5px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

// Dominator END


// Signals

.signals{
	h1{
		position: relative;
		display: inline-block;
		.info{
			font-size: 18px;
			cursor: pointer;
			transition: all .2s;
			&:hover +.tooltip{
				display: block;
			}
			&:hover{
				font-size: 20px;
			}
		}
		.tooltip{
			transition: all .2s;
			position: absolute;
			left: 102%;
			top: -20%;
			font-size: 14px;
			width: 100%;
			display: none;
			padding: 10px 20px;
			box-shadow: 2px 2px 20px 1px black;
			border-radius: 5px;
			z-index: 9;
			background: #fff;
		}
	}
	table{
		th{
			color: #999;
		}
		td:not(:last-child),
		th:not(:last-child), {
			border-right: 1px solid #f4f4f4;
		}
		th, td{
			font-size: 16px;
			padding: 15px 0;
		}
		td{
			&:last-child{
				font-weight: 400;
			}
			&:first-child{
				color: #000;
			}
		}
		tr{
			&:nth-child(even){
				background: none;
			}
		}
		.red-color{
			color: red;
		}
	}
	.table-registration{
			bottom: 30%;
			left: 50%;
			transform: translateX(-50%);
		}
}

// Signals END