$mainColor: #e4ae51;
$secondColor: #e49d24; 
$bgColor: #292929;
$mainFont: 'Roboto', serif;
$secondFort: 'Merriweather', serif;


/* Main style */
body{
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: $mainFont;
	color: #333;
	a{
		color: #333;
	}
	article{
		padding-bottom: 10px;
	}
}
.clear {
	content: '';
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;  
}
.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
.button{
	display: inline-block;
	text-transform: uppercase;
	background: $secondColor;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid $secondColor;
	&:hover{
		background: transparent;
	}
}
h1, h2{
	margin: 50px 0 10px 0;
	font-family: $secondFort;
	font-size: 40px;
}
h2{
	font-size: 36px; 
}
h3{
	width: 90%;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
	color: #333;
	&:hover{
		color: $mainColor;
		text-decoration: underline;
	}
}
.all-news{
	text-decoration: underline;
	font-weight: 700;
	color: #333;
	&:hover{
		text-decoration: none;
	}
}
/* Main style END*/


// .burger{
// 	display: none;
// 	float: right;
// 	margin-left: 10px;
// 	&_checkbox{
// 		display: none;
// 		&:checked {
// 			+label .span-2{
// 				opacity: 0;
// 			}
// 			+label .span-1{
// 				transform: rotate(135deg);
// 				position: absolute;
// 				top: 5px;
// 			}
// 			+label .span-3{
// 				transform: rotate(-135deg);
// 				position: absolute;
// 				top: 5px;
// 			}
// 		}
// 		&+label{
// 			position: relative;
// 			display: block;
// 			width: 35px;
// 			height: 20px;
// 			left: 0;
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			&:hover{
// 				cursor: pointer;
// 			}
// 			span{
// 				width: 35px;
// 				height: 3px;
// 				display: block;
// 				background: #FFF;
// 				border-radius: 5px;
// 				margin-top: 5px;
// 				transition: all .3s;
// 			}
// 		}
// 	}
// }

.header{
	width: 100%;
	background: $bgColor;
	position: fixed;
	z-index: 999;
	color: #fff;
	padding-top: 20px;
	transition: all .5s;
	a{
		color: #fff;
	}
	&-top{
		padding-bottom: 10px;
		border-bottom: 1px solid #7f7f7f;
		transition: all .5s;
		.logo{
			width: 195px;
			margin-top: 5px;
		}
		.header-reg{
			margin-left: 30px;
			.button{
				color: #fff;
				padding: 7px 25px ;
				font-size: 16px;
			}
		}
		.header-time{
			position: relative;
			font-size: 16px;
			cursor: pointer;
			border: 1px solid #fff;
			display: inline-block;
			line-height: 2em;
			padding: 0px 40px 0 10px;
			background:  url('../image/select-arrow.png') no-repeat, $bgColor;
			background-position: 90%;
			&:hover .time-zone{
				display: block;
			}
			.time-zone{
				display: none;
				position: absolute;
				box-sizing: border-box;
				z-index: 999;
				top: 102%;
				left: 0;
				background: $bgColor;
				width: 100%;
				li{
					line-height: 20px;
					padding: 5px 10px;
					margin-top: 5px;
					&:hover{
						background: #545454;
					}
					span{
						color: #999;
					}
				}
			}
		}
	}
	.nav-menu{
		text-transform: uppercase;
		.out-list{
			& li{
				position: relative;
				padding: 15px 0;
				box-sizing: border-box;
				transition: all .5s;
				&:hover .inner-list{
					display: block;
				}
			}
		}
		.inner-list{
			width: 100%;
			border-top: 1px solid $mainColor;
			position: absolute;
			top: 100%;
			display: none;
			left: 0;
			background: $bgColor;
			min-width: 100px;
			transition: none;
			li{
				padding: 7px 10px;
				transition: none;
				sup{
					text-transform: lowercase;
				}
				&:hover{
					background: $mainColor;
					cursor: pointer;
				}
			}
		}
	}
}

// Style for fixed header
.menu-padding{
	padding: 5px!important;
}
.header-padding{
	padding-top: 10px!important;
}
.header-top-padding{
	padding-bottom: 5px!important;
}


main{
	padding: 110px 0 50px 0;
	section{
		width: 70%;
		padding-right: 50px;
		box-sizing: border-box;
		.title-text{
			p{
				font-size: 20px;
				font-weight: 300;
			}
		}
		.day-new{
			.block{
				&-image{
					width: 45%;
					background: #ccc;
					img{
						width: 100%;
						height: 100%;
					}
				}
				&-text{
					width: 55%;
					background: $mainColor;
					padding: 15px 15px;
					box-sizing: border-box;
					p{
						margin-bottom: 10px;
						line-height: 18px;
						&+a{
							color: #333;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.analitic{
			.blocks{
				.block{
					width: 50%;
					margin: 20px 0;
					&-image{
						width: 25%;
					}
					&-text{
						width: 73%;
						a{
							color: #333;
						}
						span{
							display: inline-block;
							margin-bottom: 5px;
							color: #828282;
						}
						.category{
							color: $mainColor;
						}
					}
				}
			}
		}
		.economic-news{
			.blocks{
				.block{
					width: 50%;
					margin: 20px 0;
					span{
						display: inline-block;
						margin-bottom: 5px;
						color: #828282;
					}
					.country{
						color: $mainColor;
					}
				}
			}
		}
	}
	aside{
		.currency{
			h2{
				position: relative;
				z-index: 99;
				background: #FFF;
			}
			.currency-widget{
				margin-top: -40px;
			}
		}
		width: 30%;
		.news-feed{
			.feed{
				position: relative;
			}
			// h2{
			// 	margin-top: 20px;
			// }
			.line{
				width: 1px;
				height: 100%;
				background: $mainColor;
				position: absolute;
				left: 17px;
			}
			h5{
				font-weight: 600;
				font-size: 16px;
				margin-top: 20px;
				

			}
			span{
				position: absolute;
				background: #fff;
				line-height: 1.5em;
			}
			a{
				position: relative;
				padding-left: 50px;
				margin-top: 20px;
				font-size: 16px;
				line-height: 17px;
				display: block;
				&:hover{
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}
.reg-row{
	background: #d4d4d4;
	padding: 50px 0px;
	
	h2{
		width: 70%;
		font-size: 33px;
		line-height: 47px;
		font-weight: 600;
		margin: 0;
	}
	.button-block{
		width: 30%;
		h5{
			font-size: 16px;
			font-weight: 500;
		}
		.button{
			width: 50%;
			padding: 15px;
			color: #fff;
			text-align: center;
			margin-top: 10px;
			font-size: 20px;
			&:hover{
				color: #000;
			}
		}
	}
}
.main-bottom{
	padding-top: 60px;
	padding-bottom: 30px;
	.block{
		width: 30%;
		margin-bottom: 10px;
		.items{
			margin-bottom: 35px;
			.item{
				margin-top: 20px;
				a{
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 5px;
					line-height: 20px;
					display: block;
					&:hover{
						color: $mainColor;
					}
				}
				.category{
					color: $mainColor;
					font-size: 14px;
					font-weight: 400;
					display: inline-block;
				}
			}
		}
	}
	.crip{
		h2{
			margin-top: 0;
		}
	}
	.econom-calendar{
		.econom-widget{
			margin-top: -45px;
			height: 450px;
			z-index: 1;
		}
		h2{
			position: relative;
			margin-top: 0;
			margin-bottom: 20px;
			z-index: 99;
			background: #FFF;
		}
	}
}
footer{
	padding-top: 50px;
	padding-bottom: 60px;
	background: $bgColor;
	color: #fff;
	line-height: 18px;
	.block{
		width: 30%;
		h2{
			margin-top: 0;
			margin-bottom: 20px;
		}
		.logo{
			img{
				margin-bottom: 15px;
			}
		}
		.email{
			margin-bottom: 30px;
		}
		.info{
			width: 95%;
			margin-bottom: 30px;
		}
		.nav-menu{
			li{
				a{
					color: #fff;
					text-transform: uppercase;
					&:hover{
						color: $mainColor;
					}
				}
			}
		}
	}
	.subscribe{
		text-align: center;
		h5{
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		p{
			font-weight: 300;
			margin-bottom: 30px;
		}
		.button{
			width: 60%;
			padding: 10px;
		}
	}
}


// Category

.breadcrumbs{
	margin: 30px 0;
	text-transform: uppercase;
	font-weight: 500;
	a, span{
		color: #828282;
		&:hover{
			color: $mainColor;
		}
	}
	.last-crumb{
		color: #000;
		&:hover{
			color: $mainColor;
		}
	}
}
.country-list{
	li{
		text-transform: uppercase;
		a{
			color: #828282;
			border: 1px solid #fff;
			box-sizing: border-box;
			padding: 7px;
			&:hover{
				color: $mainColor;
				border: 1px solid $mainColor;
			}
		}
	}
}
.category-news{
	.category-description{
		font-weight: 300;
	}
	.blocks{
		.block{
			width: 50%;
			margin: 20px 0;
			span{
				display: inline-block;
				margin-bottom: 5px;
				color: #828282;
			}
			.country{
				background: #d4e0ff;
				padding: 3px 7px;
				border-radius: 3px;
			}
		}
	}
	.pagination{
		margin: 30px auto 0 auto;
		font-size: 16px;
		font-weight: 700;
		.begin{
			display: none;
		}
		.end{
			display: inline-block;
		}
		.active{
			background: $mainColor;
			cursor: auto;
		}
		a{
			padding: 0 5px;
			margin: 0 2px;
			&:hover{
				background: $mainColor;
			}
		}
	}
}

// Category END

