$mainColor: #e4ae51;
$secondColor: #e49d24; 
$bgColor: #292929;
$mainFont: 'Roboto', serif;
$secondFort: 'Merriweather', serif;


@media screen and (max-width: 1600px) {
}


@media screen and (max-width: 1299px) {
	h2{
		font-size: 32px;
	}
	header .container{
		padding: 0 10px;
		.nav-menu .out-list{
			justify-content: center;
			&>li:not(:last-child){
				margin-right: 30px;
			}
		}
	}
	.country-list{
		ul{
			li{
				width: 15%;
				margin-bottom: 20px;
			}
		}
	}
	main{
		padding: 130px 10px 20px 10px;
		section{
			padding-right: 10px;
		}
	}
	aside{
	}
	.reg-row{
		padding: 30px 10px;
	}
	.main-bottom{
		.container{
			padding: 0 10px;
		}
		img{
			width: 100%;
		}
	}
	footer{
		padding: 30px 10px 20px 10px;
	}
	.category-news{
		.blocks{
			.block{
				width: 48%;
				&-image{
					img{
						width: 100%;
					}
				}
			}
		} 
	}
}




@media screen and (max-width: 991px) {
	main{
		section{
			width: 100%;
			padding-right: 0;
			.analitic{
				.blocks{
					.block{
						width: 45%;
					}
				}
			}
			.economic-news{
				.blocks{
					.block{
						width: 48%;
						&-image{
							width: 100%;
						}
					}
				}
			}
		}
		aside{
			width: 100%;	
			.currency{
				display: none;
			}
		}
	}
	.reg-row {
		text-align: center;
		h2{
			width: 100%;
			margin-bottom: 20px;
		}
		.button-block{
			width: 75%;
			margin: 0 auto;
		}
	}
	.main-bottom{
		.block{
			width: 45%;
			margin-bottom: 30px;
		}
	}
	footer{
		.block{
			h2{
				font-size: 25px;
				text-align: center;
			}
		}
	}
	.country-list{
		ul{
			li{
				width: 20%;
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.header{
		.header-top{
			border-bottom: none;
			.burger{
				display: block;
			}
		}
		.nav-menu{
			display: none;
			position: absolute;
			background: $bgColor;
			right: 0;
			top: 100%;
			.out-list{
				display: inline-block;
				&>li{
					width: 100%;
					padding: 7px 20px;
					transition: none;
					&:hover{
						background: $mainColor;
					}
				}
			}
			.inner-list{
				top: 0;
				left: -50%;
				border-top: 0;
				border-right: 1px solid #fff;
			}
		}
	}
	main{
		padding: 70px 10px 20px 10px;
		h1{
			text-align: center;
			&+p{
				text-align: center;
			}
		}
		section{
			.day-new{
				.block-image{
					width: 80%;
					margin: 0 auto;
				}
				.block-text{
					width: 80%;
					margin: 0 auto;
				}
			}
			.analitic{
				.blocks{
					.block{
						width: 100%;
						margin: 10px auto;
						&-image{
							width: 15%;
							img{
								width: 100%;
							}
						}
						&-text{
							width: 80%;
						}
					}
				}
			}
		}
	}
	.country-list{
		ul{
			li{
				width: 32%;
				margin-bottom: 12px;
				a{
					padding: 3px 7px;
				}
			}
		}
	}
	.main-bottom{
		.block{
			width: 100%;
		}
	}
	footer{
		.block{
			width: 100%;
			text-align: center;
			margin-bottom: 50px;
			.email{
				margin-bottom: 10px;
			}
			.info{
				margin-bottom: 10px;
			}
		}
		.subscribe{
			width: 80%;
			margin: 0 auto;
			h5{
				margin-bottom: 10px;
			}
			p{
				margin-bottom: 10px;
			}
		}
	}
}


@media screen and (max-width: 610px) {
	.header{
		.header-top{
			.header-reg{
				display: none;
			}
		}
		.nav-menu{
			width: 100%;
			text-align: center;
			border-top: 1px solid #fff;
			.out-list{
				width: 100%;
				&>li{
					padding: 7px 20px;
					&:hover{
						background: $bgColor;
					}
				}
				.inner-list{
					position: relative;
					top: 99%;
					left: 50%;
					transform: translate(-50%);
					border-right: 0;
					text-align: center;
					width: 70%;
					background: lighten($bgColor, 20%);
				}
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.header{
		.header-top{
			.logo{
				width: 130px;
				img{
					width: 100%;
				}
			}
			.header-time{
				padding: 0px 30px 0 5px;
				border: 0;
			}
		}
	}
	.country-list{
		ul{
			li{
				width: 50%;
			}
		}
	}
	main{
		section{
			h1{
				font-size: 30px;
			}
			h2{
				font-size: 26px;
			}
			.day-new{
				.block-image{
					width: 100%;
				}
				.block-text{
					width: 100%;
				}
			}
			.analitic{
				.blocks{
					.block-image{
						width: 50%;
						a{
							margin: 0 auto;
						}
					}
					.block-text{
						width: 100%;
						h3{
							width: 100%;
						}
					}
				}
			}
			.economic-news{
				.blocks{
					.block{
						width: 100%;
					}
				}
			}
		}
		aside{
			.news-feed{
				.feed{
					.item a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.reg-row{
		h2{
			font-size: 20px;
			line-height: 30px;
		}
		.button-block{
			.button{
				width: 80%;
			}
		}
	}
	.category-news{
		.blocks{
			.block{
				width: 100%;
			}
		} 
	}
}


@media screen and (max-width: 320px) {
	
}