$mainColor: #e4ae51;
$secondColor: #e49d24; 
$bgColor: #292929;
$mainFont: 'Roboto', serif;
$secondFort: 'Merriweather', serif;


/* Main style */
body{
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: $mainFont;
	color: #333;
	a{
		color: #333;
	}
	article{
		padding-bottom: 10px;
	}
}
.clear {
	content: '';
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;  
}
.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
.button{
	display: inline-block;
	text-transform: uppercase;
	background: $secondColor;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid $secondColor;
	&:hover{
		background: transparent;
	}
}
h1, h2{
	margin: 50px 0 10px 0;
	font-family: $secondFort;
	font-size: 40px;
}
h2{
	font-size: 36px; 
}
/* Main style END*/


// .burger{
// 	display: none;
// 	float: right;
// 	margin-left: 10px;
// 	&_checkbox{
// 		display: none;
// 		&:checked {
// 			+label .span-2{
// 				opacity: 0;
// 			}
// 			+label .span-1{
// 				transform: rotate(135deg);
// 				position: absolute;
// 				top: 5px;
// 			}
// 			+label .span-3{
// 				transform: rotate(-135deg);
// 				position: absolute;
// 				top: 5px;
// 			}
// 		}
// 		&+label{
// 			position: relative;
// 			display: block;
// 			width: 35px;
// 			height: 20px;
// 			left: 0;
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			&:hover{
// 				cursor: pointer;
// 			}
// 			span{
// 				width: 35px;
// 				height: 3px;
// 				display: block;
// 				background: #FFF;
// 				border-radius: 5px;
// 				margin-top: 5px;
// 				transition: all .3s;
// 			}
// 		}
// 	}
// }

.header{
	width: 100%;
	background: $bgColor;
	position: fixed;
	z-index: 999;
	color: #fff;
	padding-top: 20px;
	a{
		color: #fff;
	}
	&-top{
		padding-bottom: 10px;
		border-bottom: 1px solid #7f7f7f;
		.logo{
			width: 195px;
			margin-top: 5px;
		}
		.header-reg{
			margin-left: 30px;
			.button{
				color: #fff;
				padding: 7px 25px ;
				font-size: 16px;
			}
		}
		.header-time{
			position: relative;
			font-size: 16px;
			cursor: pointer;
			border: 1px solid #fff;
			display: inline-block;
			line-height: 2em;
			padding: 0px 40px 0 10px;
			background:  url('../image/select-arrow.png') no-repeat, $bgColor;
			background-position: 90%;
			&:hover .time-zone{
				display: block;
			}
			.time-zone{
				display: none;
				position: absolute;
				box-sizing: border-box;
				z-index: 999;
				top: 102%;
				left: 0;
				background: $bgColor;
				width: 100%;
				li{
					line-height: 20px;
					padding: 5px 10px;
					margin-top: 5px;
					&:hover{
						background: #545454;
					}
					span{
						color: #999;
					}
				}
			}
		}
	}
	.nav-menu{
		text-transform: uppercase;
		.out-list{
			& li{
				position: relative;
				padding: 15px 0;
				box-sizing: border-box;
				&:hover .inner-list{
					display: block;
				}
			}
		}
		.inner-list{
			width: 100%;
			border-top: 1px solid $mainColor;
			position: absolute;
			top: 100%;
			display: none;
			left: 0;
			background: $bgColor;
			min-width: 100px;
			li{
				padding: 7px 10px;
				sup{
					text-transform: lowercase;
				}
				&:hover{
					background: $mainColor;
					cursor: pointer;
				}
			}
		}
	}
}
main{
	padding: 110px 0 50px 0;
	.all-news{
		text-decoration: underline;
		font-weight: 600;
		color: #333;
	}
}
section{
	width: 70%; 
	height: 1500px;
	padding-right: 50px;
	box-sizing: border-box;
	.title-text{
		p{
			font-size: 20px;
			font-weight: 300;
		}
	}
}
.day-new{
	.block{
		&-image{
			width: 45%;
			background: #ccc;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			width: 55%;
			background: $mainColor;
			padding: 10px 15px;
			box-sizing: border-box;
			h3{
				width: 90%;
				font-weight: 500;
				font-size: 16px;
				margin: 5px 0;
			}
			p{
				margin-bottom: 10px;
			}
			a{
				color: #333;
				text-decoration: underline;
			}
		}
	}
}
.analitic{
	.blocks{
		.block{
			width: 50%;
			margin: 20px 0;
			&-image{
				width: 25%;
			}
			&-text{
				width: 73%;
				a{
					color: #333;
				}
				h3{
					width: 90%;
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 10px;
				}
				span{
					display: inline-block;
					margin-bottom: 5px;
					color: #828282;
				}
				.category{
					color: $mainColor;
				}
			}
		}
	}
}
.economic-news{
	.blocks{
		.block{
			width: 50%;
			margin: 20px 0;
			h3{
				width: 90%;
				font-size: 16px;
				font-weight: 500;
				margin: 10px 0;
			}
			span{
				display: inline-block;
				margin-bottom: 5px;
				color: #828282;
			}
			.country{
				color: $mainColor;
			}
		}
	}
}




aside{
	width: 30%;
	height: 1500px;
	background: #ccc;
}

