


@media screen and (max-width: 480px) {
	.modalBlock{
		.inner-block{
			width: 280px;
			top: 40%;
			padding: 70px 0 30px 0;
			text-align: center;
			color: #fff;
			h2{
				font-size: 35px;
				margin-bottom: 10px;
				&+p{
					width: 90%;
					font-size: 18px;
				}
			}
			p{
				line-height: 20px;
			}
			.time{
				left: 5px;
				top: 5px;
				background: rgba(255, 255, 255, .2);
				padding: 2px;
				font-size: 14px;
			}
		}
	}
}


