$mainColor: #fdeb1d;
$secondColor: #204c8a; 
$bgColor: #464646;
$mainFont: 'Open Sans', sans-serif;
$secontFont: 'Montserrat', sans-serif;

body{
	position: relative;
	overflow-x: hidden;
	font-size: 18px;
	font-family: $mainFont;
}
.clear {
	content: '';
	clear: both;  
}
.container{
	max-width: 1170px;
	margin: 0 auto;     
}
.flex{
	display: flex;
	justify-content: center;
}
.button{
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 80px;
	border-radius: 10px;
	cursor: pointer;
}
.h2{
	margin-top: 60px;
	margin-bottom: 40px ;
	font-size: 48px;
	color: #404040;
	font-family: $secontFont;
	position: relative;
	display: inline-block;
	&:before{
		content: '';
		display: inline-block;
		width: 85px;
		height: 6px;
		background: $mainColor;
		position: absolute;
		left: -100px;
		top: 	25px;
	}
	&:after{
		content: '';
		display: inline-block;
		width: 85px;
		height: 6px;
		background: $mainColor;
		position: absolute;
		right: -100px;
		top: 	25px;
	}
}
header{
	width: 100%;
	background: url('../image/header_bg.jpg') no-repeat;
	background-size: cover;
	& .logo{
		width: 135px;
		margin-top: 30px;
		float: left;
	}
	& .nav-menu{
		margin-left: 30px;
		float: left;
		& li{
			float: left;
			padding: 13px;
			margin-top: 60px;
			& a{
				&:hover{
					border-bottom: 4px solid $mainColor;
				}
			}
		}
	}
	& .reg-button{
		background: $mainColor;
		margin-top: 55px;
		border-radius: 30px;
		float: right;
		padding: 10px 50px;
		& a{
			color: #000;
			font-weight: 700;
		}
		&:hover {
			cursor: pointer;
			background-color: $secondColor;
		}
		&:hover a{
			color: #fff;
		}
	}
	& .header-content{
		position: relative;
		text-align: center;
		color: #fff;
		&_title{
			font-family: $secontFont;
			width: 80%;
			margin:  0 auto;
			font-size: 48px;
			font-weight: 700;
			margin-top: 30px;
			margin-bottom: 20px;
			color: $mainColor;
		}
		&_description{
			width: 100%;
			margin: 0 auto;
			font-size: 30px;
			padding-bottom: 175px;
		}
	}
	& .button{
		background: $mainColor;
		border: none;
		margin-bottom: 60px;
		&:hover{
			cursor: pointer;
			background: $secondColor;
		}
	}
}
.new-capabilities{
	background: $bgColor;
	color: #fff;
	&_text{
		width: 60%;
		& h2{
			color: $mainColor;
			padding-top: 40px;
			padding-bottom: 20px;
			font-size: 30px;
			font-weight: 700;
			font-family: $secontFont;
		}
		& p{
			line-height: 24px;
			margin-bottom: 40px;
		}
	} 	&_button{
		text-align: center;
		margin: auto;
		& .button{
			color: #fff;
			padding: 20px 35px;
			border: 2px solid $mainColor;
			&:hover{
				background: $secondColor;
				border: 2px solid $secondColor;
			}
		}
	}
}
.get-comprehensive{
	text-align: center;
	& p{
		width: 60%;
		margin: 0 auto;
		line-height: 25px;
	}
	&_block{		
		display: flex;
		justify-content: center;
		margin-top: 40px;
		& .block{
			margin: 0 10px;
			padding: 20px 10px;
			&:hover{
				cursor: pointer;
			}
		}
		& .icon{
			margin: 0 auto;
			width: 150px;
			height: 150px;
			background: $bgColor;
			background-repeat: no-repeat;
			border-radius: 50%;
			background-position: center;
			&:hover{
				background: $mainColor;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		& .icon-1{
			background-image: url('../image/get-comprehensive-1.png');
			
		}
		& .icon-2{
			background-image: url('../image/get-comprehensive-2.png');
		}
		& .icon-3{
			background-image: url('../image/get-comprehensive-3.png');
		}
		& .icon-1:hover{
			background-image: url('../image/get-comprehensive-1-hover.png');
			
		}
		& .icon-2:hover{
			background-image: url('../image/get-comprehensive-2-hover.png');
		}
		& .icon-3:hover{
			background-image: url('../image/get-comprehensive-3-hover.png');
		}
		& h4{
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 700;
		}
		& p{
			font-size: 16px;
			line-height: 22px;
		}
	}
}
.why-should{
	background: url('../image/why-should-bg.jpg');
	background-position: center;
	text-align: center;
	color: #fff;
	& h2{
		color: #fff;
		margin-top: 100px;
	}
	& p{
		width: 60%;
		margin: 0 auto;
		line-height: 24px;
	}
	&_block{		
		display: flex;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 30px;
		& .block{
			margin: 0 10px;
			padding: 20px 10px;
			&:hover{
				cursor: pointer;
			}
		}
		& h4{
			font-family: $secontFont;
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 40px;
			line-height: 40px;
			color: $mainColor;
			font-weight: 700;
			& span{
				font-size: 69px;
				line-height: 57px;
			}
		}
		& p{
			font-size: 16px;
			line-height: 22px;
			width: 90%;
		}
	}
	& .button{
		background: $mainColor;
		color: #000;
		font-weight: 700;
		margin-bottom: 50px;
		&:hover{
			background: $secondColor;
			color: #fff;
		}
	}
}
.reduce-risks{
	text-align: center;
	& p{
		width: 80%;
		margin: 0 auto;
		line-height: 25px;
	}
	&_block{		
		display: flex;
		justify-content: space-around;
		margin-top: 40px;
		margin-bottom: 70px;
		& .block{
			margin: 0 10px;
			padding: 20px 40px;
			text-align: left;
			width: 30%;
			border: 2px solid $mainColor;
			border-radius: 20px;
			& h4{
				font-size: 35px;
				font-weight: 700;
				margin: 20px 0;
				font-family: $secontFont;
			}
			& p{
				width: 100%;
				line-height: 22px;
			}
			&:hover{
				opacity: .7;
				cursor: pointer;
			}
			&:hover h4{
				color: $secondColor;
			}
			&:hover .button{
				color: #000;
				background: $mainColor;
			}
			& .price{
				margin: 30px 0;
				font-size: 24px;
				line-height: 28px;
				& span{
					font-weight: 700;
				}
			}
			& .button{
				font-weight: 700;
				border: 2px solid $mainColor;
				border-radius: 15px;
				padding: 15px 30px;
				display: table;
				margin: 0 auto;
			}
		}
	}
}
.with-broker{
	text-align: center;
	background: $mainColor;
	& h2{
		color: #464646;
	}
	& h2:before, & h2:after{
		background: #464646;
	}
	& p{
		width: 80%;
		margin: 0 auto;
		line-height: 25px;
	}
	&_block{		
		display: flex;
		margin-top: 40px;
		padding-bottom: 70px;
		& .block{
			padding: 20px 0px;
			width: 40%; 
			& p{
				margin: 10px 0;
			}
			&-left{
				text-align: left;
				& p{
					padding-left: 10px;
					border-left: 3px solid #c6bb29;
				}
			}
			&-right{
				text-align: right;
				& p{
					padding-right: 10px;
					border-right: 3px solid #c6bb29;
				}
			}
			& p{
				width: 100%;
				line-height: 22px;
			}
		}
		.central-icon{
			width: 20%;
			background: url('../image/pouch.png') no-repeat bottom;
			&:hover{
				animation: swing 0.6s ease;
				animation-iteration-count: 1;
			}
		}
	}
}
.how-work{
	text-align: center;
	&_block{		
		display: flex;
		justify-content: space-around;
		margin-top: 40px;
		margin-bottom: 70px;
		& .block{
			margin: 0 10px;
			padding: 20px 20px;
			position: relative;
			& .num{
				// display: block;
				font-weight: 900;
				font-size: 170px;
				color: #f4d65b;
				opacity: .5;
				position: absolute;
				top: 80px;
				left: 20px;
				z-index: 1;
			}
			& h4{
				position: relative;
				width: 100%;
				font-size: 22px;
				line-height: 28px;
				font-weight: 700;
				margin: 20px 0;
				color: #404040;
				z-index: 99;
			}
			& p{
				position: relative;
				font-size: 16px;
				line-height: 22px;
				z-index: 99;
			}
		}
	}
}
.begin-trade{
	background: $bgColor;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 50px;
	& h2{
		width: 80%;
		margin: 0 auto;
		color: $mainColor;
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight:  700;
		margin-bottom: 30px;
	}
	& p{
		margin: 0 auto;
		width: 80%;
		color: #fff;
	}
	.form{
		margin-top: 40px;
		& input{
			color: #fff;
			margin-left: 50px;
			padding: 10px 30px ;
			border: 1px solid $mainColor;
			border-radius: 20px;
			outline: none;
		}
		& input[type="text"]{
			background: transparent;
			border: 1px solid $mainColor;
			font-size: 16px;
			color: #fff;
		}
		& input[type="submit"]{
			margin-left: 50px;
			border-radius: 25px;
			background: $mainColor;
			color: #000;
			font-weight: 700;
			font-size: 16px;
			padding: 10px 70px;
			border: none;
			&:hover{
				background: $secondColor;
				cursor: pointer;
				color: #fff;
			}
		}
	}
}
// Modal window
.modalWindow {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 999;

	&:target {
		display: block;
	}
	& div {
		margin: 50px 100px;
		width: 600px;
		background: $mainColor;
		position: relative;
		margin: 5% auto;
		padding: 20px;
		text-align: center;
		padding: 100px;
		& h2{
			color: #494b46;
			margin: 30px auto;
			font-size: 3em;
			padding-bottom: 30px;
		}
		& p{
			color: #494b46;
			font-size: 1.5em;
		}
	}
}
.close {
	position: absolute;
	font-size: 50px;
	top: 20px;
	right: 20px;
	color: #000;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	&:hover { 
		color: #fff;
	}
}
footer{
	background: #000;
	color: #fff;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 20px;
	& h3{
		color: $mainColor;
		font-size: 24px;   
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	& .contacts{
		width: 45%;
		& div{
			margin-bottom: 30px;
		}
		& p{
			margin-left: 10px;
			line-height: 24px;
			padding-right: 40px;
		}
		& .country{
			color: $mainColor;
		}
	}
	& .risk{
		width: 45%;
		& p{
			line-height: 18px;
		}
		& a{
			color: $mainColor;
			text-decoration: underline;
		}
	}
	& .footer-links{
		text-align: center;
		margin-top: 40px;
		& li{
			display: inline;
			&:not(:first-child):before{
				content: ' | ';
			}
			& a{
				text-decoration: underline;
				margin: 0 7px;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 30px;
				&:hover{
					color: $mainColor;;
				}
			}
		}
	}
	& .footer-icons{
		text-align: center;
		& li{
			background: url('../image/footer-icons.png') no-repeat;
			background-position: 0px 5px;
			margin-top: 30px;
			display: inline-block;
			width: 150px;
			height: 50px;
		}
		& .visa{
			background-position: 35px 5px;
		}
		& .master{
			background-position: -130px 5px;
		}
		& .webmoney{
			background-position: -315px 5px;
		}
		& .qiwi{
			background-position: -500px 5px;
		}
		& .yandex{
			background-position: -660px 5px;
		}
		& .dss{
			background-position: -850px 5px;
		}
		& .reuters{
			background-position: -1020px 5px;
		}
	}
}

@-webkit-keyframes swing {
	15% {
		-webkit-transform: translateX(9px);
		transform: translateX(9px);
	}
	30% {
		-webkit-transform: translateX(-9px);
		transform: translateX(-9px);
	}
	40% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	50% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	65% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes swing {
	15% {
		-webkit-transform: translateX(9px);
		transform: translateX(9px);
	}
	30% {
		-webkit-transform: translateX(-9px);
		transform: translateX(-9px);
	}
	40% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	50% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	65% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}