$mainColor: #f05f5a;
$secondColor: #64d7d7; 
$mainFont: 'Roboto', sans-serif;


@media screen and (max-width: 1600px) {

}


@media screen and (max-width: 1299px) {

}

@media screen and (max-width: 991px) {

}


@media screen and (max-width: 767px) {

}


@media screen and (max-width: 610px) {

}


@media screen and (max-width: 480px) {

}


@media screen and (max-width: 320px) {
	
}

