$mainColor: #f05f5a;
$secondColor: #64d7d7; 
$mainFont: 'Roboto', sans-serif;


@media screen and (max-width: 1600px) {
}


@media screen and (max-width: 1299px) {
	.container{
		padding: 0 10px;
	}
	.wrapper{
		background-size: 250%;
	}
	.services{
		.block{
			padding: 20px 30px;
		}
	}
	.about-us{
		padding-bottom: 50px;
	}
	.faq{
		padding-top: 50px;
	}
	.modalWindow-1 .inner-block, 
	.modalWindow-2 .inner-block, 
	.modalWindow-3 .inner-block, 
	.modalWindow-4 .inner-block, 
	.modalWindow-5 .inner-block{
		width: 80%;
	}
	.modalWindow-5{
		.inner-block{
			width: 70%;
		}
	}
	.modalWindow-4{
		.inner-block{
			width: 75%;
		}
	}
}

@media screen and (max-width: 991px) {
	.wrapper{
		background-size: 450%;
	}
	.header{
		padding-top: 30px;
		padding-bottom: 10px;
		.title-menu{
			h1{
				width: 100%;
				font-size: 22px;
				margin-bottom: 20px;
			}
		}
		.logo{
			margin-right: 10px;
			width: 15%;
		}
	}
	.services{
		.block{
			justify-content: center;
			&-text{
				width: 70%;
				margin-bottom: 20px;
			}
			&-image{
				width: 30%;
			}
		}
	}
	.faq{
		background-size: 100%;
		h2{
			margin-bottom: 20px;
		}
		.flex{
			justify-content: center;
		}
		.accordion-menu{
			width: 80%;
			.submenuItems{
				width: 100%;
			}
		}
	}

	.modalWindow-1, 
	.modalWindow-2, 
	.modalWindow-3, 
	.modalWindow-4, 
	.modalWindow-5{
		.inner-block{
			width: 90%;
		}
		.blocks{
			padding: 0;
			.block{
				padding: 10px 10px;
				&-text{
					width: 70%;
					margin: 0 auto;
					text-align: center;
					margin-bottom: 10px;
				}
				&-button{
					margin: 0 auto;
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.wrapper{
		background-size: 700%;
	}
	.services{
		.block{
			flex-wrap: wrap;
			align-items: column;
			&-text{
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
			&-image{
				width: 70%;
				margin-bottom: 30px;
				img{
					width: 75%;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	.body-scroll{
		padding-top: 100px!important;
	}
	.about-us{
		text-align: center;
		h2{
			text-align: center;
			margin-bottom: 20px;
		}
		.block{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.modalWindow-1, 
	.modalWindow-2, 
	.modalWindow-3, 
	.modalWindow-4, 
	.modalWindow-5{
		.discount{
			.block{
				width: 100%;
				text-align: center;
				p{
					width: 60%;
				}
			}
		}
	}
	.modalWindow-2{
		.inner-block{
			.blocks{
				padding: 0;
				.block{
					&-text{
						width: 90%;
					}
				}
			}
		}
	}
	.modalWindow-5,
	.modalWindow-3{
		.inputs-contacts{
			justify-content: center;
			input{
				width: 70%;
				&:nth-child(odd){
					margin-right: 0;
				}
			}
		}
	}
	.modalWindow-4{
		.inner-block{
			padding-bottom: 100px;
			background-position: center;
			background-size: cover;
		}
	}
	.modalWindow-3{
		.block-top-left, 
		.block-top-right{
			width: 85%;
			margin: 0 auto;
		}
		.inputs-contacts{
			input{
				width: 85%;
			}
		}
	}
}


@media screen and (max-width: 610px) {
	.header{
		.title-menu{
			h1{
				display: none;
			}
			ul{
				li{
					margin-right: 20px;
				}
			}
		}
		.logo{
			margin-right: 0;
		}
	}
	.footer{
		margin-top: -150px;
		background-size: cover;
		.flex{
			justify-content: center;
			text-align: center;
		}
	}
}


@media screen and (max-width: 480px) {
	.wrapper{
		background-size: 1350%;
	}
	.header{
		padding: 5px 0;
		.title-menu{
			width: 10%;
			.burger{
				display: block;
			}
			.anhcors{
				width: 100%;
				background: $mainColor;
				display: none;
				position: absolute;
				top: 55px;
				right: 0;
				box-shadow: -3px 5px 20px  rgba(0, 0, 0, .7);
				z-index: 9999;
				.menu-fixed{
					line-height: 1em;
				}
				li{
					float: none;
					margin-top: 0;
					margin-right: 0;
					line-height: 1em;
					font-size: .8em;
					padding: 10px 30px ;
					transition: all .3s;
					text-align: center;
					&:not(:last-child){
						border-bottom: 1px solid #333;
					}
					& a{
						color: #fff;
						transition: all .3s;
					}
					& a:hover{
						font-weight: 600;
						border: none;
						color: #000;
					}
				}
			}
		}
		.logo{
			width: 100px;
		}
	}
	.services{
		.block{
			padding: 15px 15px;
			&-text{
				h3{
					width: 100%;
					font-size: 26px;
				}
			}
			&-image{
				width: 100%;
			}
		}
	}
	.faq{
		padding-top: 60px;
		h2{
			font-size: 25px;
		}
		.accordion-menu{
			width: 100%;
			.dropdownlink{
				font-size: 16px;
				padding: 20px 10px 0px 25px;
			}
			.submenuItems{
				li{
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
	.modalWindow-1, 
	.modalWindow-2, 
	.modalWindow-3, 
	.modalWindow-4, 
	.modalWindow-5{
		.close{
			right: 5px;
			top: -15px;
		}
		.blocks{
			margin-bottom: 20px;
			.block{
				margin-bottom: 20px;
				&-text{
					width: 100%;
					h4{
						line-height: 30px;
						font-size: 22px;
					}
					p{
						line-height: 18px;
					}
				}
				.button{
					padding: 15px 50px;
				}
			}
		}
		.discount{
			.block{
				padding: 10px;
			}
		}
	}
	.modalWindow-5{
		.inner-block{
			padding: 20px 5px;
		}
		.close{
			font-size: 3em;
		}
		.block{
			width: 100%;
			padding: 0;
			input{
				font-size: 14px;
			}
		}
		.inputs-contacts{
			input{
				width: 90%;
			}
		}
	}
	.modalWindow-4{
		.inner-block{
			padding-top: 20px;
			text-align: center;
		}
		.block{
			margin: 0;
			.button{
				padding: 15px 0;
				width: 80%;
			}
		}
	}
	.modalWindow-3{
		.block-top-left, 
		.block-top-right{
			width: 95%;
		}
		.inner-block{
			width: 95%;
			padding: 20px 5px;
		}
		.block{
			padding: 0;
			width: 100%;
			input{
				font-size: 14px;
			}
			p{
				text-align: center;
			}
		}
		.close{
			font-size: 3em;
		}
		.inputs-contacts{
			input{
				width: 95%;
			}
		}
	}
}


@media screen and (max-width: 320px) {
	
}

