$mainColor: #ff8300;
$secondColor: #1f75b7; 
$mainFont: 'Open Sans', sans-serif;


@media screen and (max-width: 1600px) {
}


@media screen and (max-width: 1299px) {

}

@media screen and (max-width: 991px) {

}


@media screen and (max-width: 767px) {

}


@media screen and (max-width: 610px) {

}


@media screen and (max-width: 480px) {

}


@media screen and (max-width: 320px) {
	
}