$mainColor: #ff365c;
$secondColor: #5841ec; 
$mainFont: 'Open Sans', sans-serif;

body{
	position: relative;
	overflow-x: hidden;
	font-size: 18px;
	font-family: $mainFont;
}
.clear {
	content: '';
	clear: both;  
}
.container{
	max-width: 1170px;
	margin: 0 auto;     
}
.flex{
	display: flex;
	justify-content: center;
}
.button{
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 80px;
	border-radius: 10px;
	cursor: pointer;
}
.h2{
	margin-top: 60px;
	margin-bottom: 40px ;
	font-size: 32px;
	line-height: 36px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
}
header{
	width: 100%;
	padding-top: 100px;
	background: url('../image/header_bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	.header-top{
		position: fixed;
		z-index: 9999;
		top: 0;
		right: 0;
		left: 0;
	}
	& .logo{
		width: 135px;
		margin-top: 30px;
		float: left;
		transition: all .5s ease-out;
	}
	& .nav-menu{
		margin-left: 30px;
		float: left;
		& li{
			float: left;
			padding: 13px;
			margin-top: 60px;
			transition: all .5s ease-out;
			& a{
				&:hover{
					border-bottom: 2px solid;
				}
			}
		}
	}
	.burger{
		display: none;
		float: right;
		margin-left: 10px;
		margin-right: 30px;
		&_checkbox{
			display: none;
			&:checked {
				+label .span-2{
					opacity: 0;
				}
				+label .span-1{
					transform: rotate(135deg);
					position: absolute;
					top: 5px;
				}
				+label .span-3{
					transform: rotate(-135deg);
					position: absolute;
					top: 5px;
				}
			}
			&+label{
				position: relative;
				display: block;
				width: 35px;
				height: 20px;
				left: 0;
				top: 35px;
				right: 0;
				bottom: 0;
				&:hover{
					cursor: pointer;
				}
				span{
					width: 35px;
					height: 3px;
					display: block;
					background: #FFF;
					border-radius: 5px;
					margin-top: 5px;
					transition: all .3s;
				}
			}
		}
	}
	& .reg-button{
				background: $mainColor;
				margin-top: 55px;
				margin-right: 20px;
				border-radius: 30px;
				float: right;
				padding: 15px 50px;
				transition: all .5s ease-out;
				&:hover{
					cursor: pointer;
					background: $secondColor;
				}
			}
	& .header-content{
		position: relative;
		text-align: center;
		color: #fff;
			&_title{
				width: 70%;
				margin:  0 auto;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 36px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 70px;
				margin-bottom: 30px;
			}
			&_description{
				width: 65%;
				margin: 0 auto;
				font-size: 22px;
				line-height: 25px;
				margin-bottom: 75px;
			}
	}
	& .button{
		background: $mainColor;
		border: none;
		margin-bottom: 60px;
		&:hover{
			cursor: pointer;
			background: $secondColor;
		}
	}
}


.header-top-fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, .8);
}
header .logo-fixed{
	width: 70px;
	margin: 10px 0;
}
header .nav-menu .menu-fixed{
	line-height: 3em;
	margin: 0;
}
.header-buttons-fixed{
	display: none;
}
header .button-fixed{
	margin-top: 15px;
}



.advantages-work{
	text-align: center;
	& h2{
		width: 40%;
		margin: 60px auto 40px auto;
	}
	& p{
		width: 80%;
		margin: 0 auto;
		line-height: 25px;
	}
	&_block{		
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 60px;
		& .block{
			display: flex;
			justify-content: center;
			padding-top: 100px;
			margin: 0 1%;
			border: 1px solid $secondColor;
			border-radius: 20px;
			padding: 20px;
		}
		& p{
			font-size: 22px;
			padding-left: 10px;
			text-align: left;
		}
		& .icon{
			width: 120px;
			height: 60px;
			background: url('../image/advantages-work-icons.png');
			background-repeat: no-repeat;
		}
		& .icon-1{
			background-position: -30px 0;
		}
		& .icon-2{
			background-position: -180px 0px;
		}
		& .icon-3{
			background-position: -350px 0px;
		}
	}
}
.profitable-trade{
	background: url('../image/block-bg.jpg');
	color: #fff;
	&_text{
		width: 60%;
		& h2{
			color: $mainColor;
			padding-top: 40px;
			padding-bottom: 20px;
			font-size: 30px;
			font-weight: 700;
		}
		& p{
			line-height: 24px;
			margin-bottom: 40px;
		}
	} 	&_button{
		text-align: center;
		margin: auto;
		& .button{
			color: #fff;
			padding: 20px 35px;
			background: $mainColor;
			&:hover{
				background: $secondColor;
			}
		}
	}
}
.successful-start{
	text-align: center;
	& h2{
		margin: 60px auto 40px auto;
	}
	& p{
		width: 80%;
		margin: 0 auto;
		line-height: 25px;
	}
	&_block{		
		display: flex;
		justify-content: center;
		margin-top: 60px;
		margin-bottom: 70px;
		& .block{
			width: 20%;
			padding-top: 100px;
			margin: 0 10px;
			border: 2px solid #e1e1e1;
			padding: 20px 10px;
			&:hover{
				border: 2px solid $secondColor;
				cursor: pointer;
			}
		}
		& .icon{
			margin: 0 auto;
			width: 50px;
			height: 55px;
			background: url('../image/successful-start-icons.png');
			background-repeat: no-repeat;
		}
		& .icon-1{
			background-position: 0px 0 ;
		}
		& .icon-2{
			background-position: -195px 0px;
		}
		& .icon-3{
			background-position: -393px 0px;
		}
		& .icon-4{
			background-position: -590px 0px;
		}
		& .icon-5{
			background-position: -787px 0px;
		}
		& p{
			font-size: 14px;
			line-height: 18px;
			margin-top: 25px;
			text-align: center;
		}
	}
}
.on-question{
	background: #ddd;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 50px;
	& h2{
		width: 80%;
		margin: 0 auto;
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight:  700;
		margin-bottom: 30px;
	}
	.form{
		margin-top: 30px;
		& input{
			color: #fff;
			margin-left: 50px;
			padding: 10px 30px ;
			border: 1px solid $mainColor;
			border-radius: 20px;
			outline: none;
		}
		& input[type="text"]{
			 background: transparent;
			border: 1px solid #555;
			font-size: 16px;
			color: #000;
			
		}
		& input[type="submit"]{
			margin-left: 50px;
			border-radius: 25px;
			background: $mainColor;
			color: #fff;
			font-size: 16px;
			padding: 10px 70px;
			border: none;
			&:hover{
				background: $secondColor;
				cursor: pointer;
			}
		}
	}
}
// Modal window
.modalWindow {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 999;

	&:target {
		display: block;
	}
	& div {
		color: #fff;
		margin: 50px 100px;
		width: 600px;
		background: #383831;
		position: relative;
		margin: 10% auto;
		padding: 20px;
		text-align: center;
		padding: 100px;
		& h2{
			margin: 30px auto;
			font-size: 3em;
			padding-bottom: 30px;
		}
		& p{
			font-size: 1.5em;
		}
	}
}
.close {
	position: absolute;
	font-size: 50px;
	top: 20px;
	right: 20px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	&:hover { 
		color: $mainColor;
	}
}
.how-work{
	width: 100%;
	text-align: center;
	& h2{
		margin: 60px auto 40px auto;
	}
	& p{
		width: 80%;
		margin: 0 auto;
		line-height: 25px;
	}
	& .line{
		position: absolute;
		top: 55px;
		width: 80%;
		height: 2px;
		background: $secondColor;
		z-index: 1;
	}
	&_block{		
		display: flex;
		justify-content: center;
		margin-top: 60px;
		margin-bottom: 90px;
		position: relative;
		& .block{
			position: relative;
			width: 10%;
			margin: 0 5%;
			cursor: pointer;
			z-index: 9;
			background: #fff;
			& .p-hidden{
				text-align: left;
				color: #fff;
				width: 400px;
				display: none;
				position: absolute;
				left: -120px;
				top: 170px;
				background: $mainColor;
				padding: 10px;
				border-radius: 5px;
				z-index: 999;
				& span{
					position: absolute;
					top: -40px;
					left: 160px;
					border: 20px solid transparent;
					border-bottom: 20px solid $mainColor;
				}
			}
			&:hover :last-child{
				display: block;
				z-index: 999;
			}
			&:hover .dashed{
				border: 2px dashed $mainColor;
			}
			&:hover  .icon{
				border: 2px solid $mainColor;
			}
		}
		& .dashed{
			width: 94px;
			height: 94px;
			margin:  0 auto;
			border: 2px dashed $secondColor;
			border-radius: 50%;
			padding: 5px;
		}
		& .icon{
			width: 70px;
			height: 70px;
			background: url('../image/how-work-icons.png');
			background-repeat: no-repeat;
			border: 2px solid $secondColor;
			border-radius: 50%;
			padding: 10px;
		}
		& .icon-1{
			background-position: -30px 10px;
		}
		& .icon-2{
			background-position: -157px 10px;
		}
		& .icon-3{
			background-position: -265px 10px;
		}
		& .icon-4{
			background-position: -390px 10px;
		}
		& .icon-5{
			background-position: -513px 0px;
		}
		& p{
			font-size: 14px;
			line-height: 18px;
			margin-top: 25px;
			text-align: center;
		}
	}
}



.begin-trade{
	background: url('../image/block-bg.jpg');
	color: #fff;
	&_text{
		width: 60%;
		& h2{
			color: $mainColor;
			text-transform: uppercase;
			padding-top: 40px;
			padding-bottom: 20px;
			font-size: 30px;
			font-weight: 700;
		}
		& p{
			line-height: 24px;
			margin-bottom: 40px;
		}
	} 	&_button{
		text-align: center;
		margin: auto;
		& .button{
			color: #fff;
			padding: 12px 70px;
			border-radius: 20px;
			background: $mainColor;
			&:hover{
				background: $secondColor;
			}
		}
	}
}
footer{
	background: #000;
	color: #fff;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 20px;
	& .footer-logo{
		margin-right: 40px;
		& img{
			width: 150px;
		}
	}
	& h3{
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	& .contacts{
		width: 35%;
		& div{
			margin-bottom: 30px;
		}
		& p{
			margin-left: 10px;
			line-height: 24px;
			padding-right: 40px;
		}
		& .country{
			color: $secondColor;
		}
	}
	& .risk{
		width: 35%;
		& p{
			line-height: 18px;
		}
		& a{
			color: $secondColor;
			text-decoration: underline;
		}
	}
	& .footer-links{
		text-align: center;
		margin-top: 40px;
		& li{
			display: inline;
			&:not(:first-child):before{
				content: ' | ';
			}
			& a{
				text-decoration: underline;
				margin: 0 7px;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 30px;
				&:hover{
					color: $secondColor;
				}
			}
		}
	}
	& .footer-icons{
		text-align: center;
		& li{
			background: url('../image/footer-icons.png') no-repeat;
			background-position: 0px 5px;
			margin-top: 30px;
			display: inline-block;
			width: 150px;
			height: 50px;
		}
		& .visa{
			background-position: 35px 5px;
		}
		& .master{
			background-position: -130px 5px;
		}
		& .webmoney{
			background-position: -315px 5px;
		}
		& .qiwi{
			background-position: -500px 5px;
		}
		& .yandex{
			background-position: -660px 5px;
		}
		& .dss{
			background-position: -850px 5px;
		}
		& .reuters{
			background-position: -1020px 5px;
		}
	}
}