

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma/Tahoma Regular.ttf");
  font-weight: normal;
  font-style: normal;
}