
@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/Helvetica/HelveticaRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/Helvetica/HelveticaBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaMedium';
  src: url("../fonts/Helvetica/HelveticaMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
